#### Libraries

In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt# matplotlib.pyplot plots data
%matplotlib inline 
from sklearn.model_selection import train_test_split
import missingno as msno
import warnings
pd.options.display.max_columns = None
pd.options.display.max_rows = None
warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
import os

In [3]:
os.getcwd()

'/Users/bhargavikanchiraju/Documents/projects/viamo-dk'

In [4]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]='/Users/bhargavikanchiraju/Documents/projects/viamo-dk/viamo-datakind-19b12e3872f5.json'

In [5]:
from google.cloud import bigquery

pip install google-cloud
pip install google-cloud-bigquery[pandas]
pip install google-cloud-storage
pip install pandas-gbq -U

#### Connect to BQ and test

In [6]:
df = pd.read_gbq("SELECT * FROM `viamo-datakind.datadive.321_sessions_1122` LIMIT 100")

In [7]:
df.head()

,call_date,dl_global_created_at,block_interaction_id,call_id,subscriber_id,block_global_created_at,block_entry_at,js_key,tree_version_set_id,call_started,call_ended,duration_listened_minutes,duration_listened_seconds,region,region_name,organization_id,organization_country,block_audio_percent_listened,km_block_reached,km_block_listened,listener,listen_menu_or_digest,block_title,block_tags,block_theme,block_topic,age,gender,location,location_level_2,opt_in,subscriber_pereferred_language,registered_demographic_info,rural_or_urban,phone_type,education_level,income_source,airtime_expense,highest_expense_area,data_usage_consent,new_listener_ever,new_listener_year,new_caller_ever,new_caller_year
0,2022-08-22,2022-08-22 16:23:12+00:00,1408486077303850500,1408486073113743308,1163031229725933568,2022-08-22 16:21:00+00:00,2022-08-22 16:20:49+00:00,block_1635535649871_28,19069,2022-08-22 16:20:48+00:00,2022-08-22 16:23:12+00:00,0.20,11.00,AWA,Anglophone West Africa,471005004824576000,Nigeria,100.00,<NA>,<NA>,<NA>,Listen Menu,Short Intro_Paid call,callers,,,None,None,null,Federal_Capital_Territory,yes_contact,English,<NA>,null,null,null,null,null,null,yes_consent,<NA>,<NA>,<NA>,<NA>
1,2021-07-18,2021-07-18 18:13:39+00:00,1263552836105987964,1263552587471841832,798531682041856098,2021-07-18 17:57:51+00:00,2021-07-18 17:47:51+00:00,block_1602776841866_61,22441,2021-07-18 17:46:52+00:00,2021-07-18 18:13:39+00:00,10.00,600.00,FWA,Francophone West Africa,681132173557760000,Mali,100.00,1263552836105987964,1263552836105987964,798531682041856098,Listen Menu,episode22,"health,km,partner_raes",health,,None,None,Kita,Cercle de Di√©ma,yes_contact,None,<NA>,None,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>
2,2022-11-13,2022-11-13 08:16:14+00:00,1438440448577734796,1438440048080422708,1438434199358376156,2022-11-13 08:08:50+00:00,2022-11-13 08:08:47+00:00,block_1649054899824_43,44157,2022-11-13 08:07:12+00:00,2022-11-13 08:16:14+00:00,0.10,3.00,AWA,Anglophone West Africa,471005004824576000,Nigeria,100.00,<NA>,<NA>,<NA>,Listen Menu,You are registered as Male,,,,None,None,null,Sokoto_state,yes_contact,Hausa,<NA>,null,null,null,null,null,null,Yes_consent,<NA>,<NA>,<NA>,<NA>
3,2022-08-01,2022-08-01 20:17:15+00:00,1400934399574771008,1400930644674445604,1253264700167651736,2022-08-01 20:13:19+00:00,2022-08-01 20:13:08+00:00,block_1651189142265_73,44158,2022-08-01 19:58:13+00:00,2022-08-01 20:17:15+00:00,0.20,11.00,AWA,Anglophone West Africa,471005004824576000,Nigeria,100.00,<NA>,<NA>,<NA>,Listen Menu,"Do you wish to update, Delete or Go to the next",,,,None,None,null,Bauchi_state,yes_contact,English,<NA>,Smaller town_v2,basic mobile phone_v2,primary school_v2,Other income source,below 100 naira airtime_v2,other expenses_v2,No_Consent,<NA>,1253264700167651736,<NA>,1253264700167651736
4,2022-11-14,2022-11-14 09:32:13+00:00,1438823055295481596,1438820866774763424,1438434199358376156,2022-11-14 09:32:13+00:00,2022-11-14 09:29:08+00:00,block_1640196468445_47,40712,2022-11-14 09:20:26+00:00,2022-11-14 09:32:13+00:00,3.10,185.00,AWA,Anglophone West Africa,471005004824576000,Nigeria,61.87,1438823055295481596,<NA>,<NA>,None,AK! Radio Drama Digest (All seasons),"2_0,ak_digest,albishirinku,ba,drama,health,km,...","drama,health",,None,None,null,Sokoto_state,yes_contact,Hausa,<NA>,null,null,null,null,null,null,Yes_consent,<NA>,<NA>,<NA>,<NA>

In [52]:
df.columns

Index(['call_date', 'dl_global_created_at', 'block_interaction_id', 'call_id',
       'subscriber_id', 'block_global_created_at', 'block_entry_at', 'js_key',
       'tree_version_set_id', 'call_started', 'call_ended',
       'duration_listened_minutes', 'duration_listened_seconds', 'region',
       'region_name', 'organization_id', 'organization_country',
       'block_audio_percent_listened', 'km_block_reached', 'km_block_listened',
       'listener', 'listen_menu_or_digest', 'block_title', 'block_tags',
       'block_theme', 'block_topic', 'age', 'gender', 'location',
       'location_level_2', 'opt_in', 'subscriber_pereferred_language',
       'registered_demographic_info', 'rural_or_urban', 'phone_type',
       'education_level', 'income_source', 'airtime_expense',
       'highest_expense_area', 'data_usage_consent', 'new_listener_ever',
       'new_listener_year', 'new_caller_ever', 'new_caller_year'],
      dtype='object')

#### Demographics - Month,Age,Gender,preferred language

In [ ]:
## Uganda

In [192]:
df_u = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,gender,age,rural_or_urban,subscriber_pereferred_language,count(distinct subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where  gender is not null and age is not null and organization_country='Uganda' group by 1,2,3,4,5,6")

In [193]:
df_u.head()

,Year,Month,gender,age,rural_or_urban,subscriber_pereferred_language,Subscribers
0,2021,10,female,under_18,None,Luganda,4096
1,2022,8,male,25_34,None,4R,6117
2,2021,12,female,18_24,None,English,3113
3,2022,10,male,25_34,None,English,2048
4,2022,3,male,18_24,None,Luganda,48057

In [ ]:
## Nigeria

In [203]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
    EXTRACT (MONTH FROM call_date) as Month,
    gender,
    age,
    case  
    when rural_or_urban like '%town%' then 'Town'
    when rural_or_urban like '%village%' then 'Village'
    when rural_or_urban like '%city%' then 'City'
    when rural_or_urban like '%no_answer%' then 'No answer'
    when rural_or_urban like '%wish%' then 'did not wish to answer'
    else 'Other' 
    END as urban_rural
    ,
    subscriber_pereferred_language,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where gender is not null and 
    age is not null and 
    organization_country='Nigeria' and
    char_length(rural_or_urban) > 0
group by 1,
    2,
    3,
    4,
    5,
    6
"""

df_n_urbanrural = pd.read_gbq(query)

In [204]:
df_n_urbanrural.to_csv('Nigeria_urbanrural_1.csv',index=False)

In [ ]:
## Uganda

In [216]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
    EXTRACT (MONTH FROM call_date) as Month,
    gender,
    age,
    case  
    when rural_or_urban like '%town%' then 'Town'
    when rural_or_urban like '%village%' then 'Village'
    when rural_or_urban like '%city%' then 'City'
    when rural_or_urban like '%no_answer%' then 'No answer'
    when rural_or_urban like '%wish%' then 'did not wish to answer'
    else 'Other' 
    END as urban_rural
    ,
    subscriber_pereferred_language,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where gender is not null and 
    age is not null and 
    organization_country='Uganda' and
    char_length(rural_or_urban) > 0
group by 1,
    2,
    3,
    4,
    5,
    6
"""

df_u_urbanrural = pd.read_gbq(query)

In [217]:
df_u_urbanrural.to_csv('Uganda_urbanrural_1.csv',index=False)

In [ ]:
## Mali

In [213]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
    EXTRACT (MONTH FROM call_date) as Month,
    gender,
    age,
    case  
    when rural_or_urban like '%town%' then 'Town'
    when rural_or_urban like '%village%' then 'Village'
    when rural_or_urban like '%city%' then 'City'
    when rural_or_urban like '%no_answer%' then 'No answer'
    when rural_or_urban like '%wish%' then 'did not wish to answer'
    else 'Other' 
    END as urban_rural
    ,
    subscriber_pereferred_language,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where gender is not null and 
    age is not null and 
    organization_country='Mali' and
    char_length(rural_or_urban) > 0
group by 1,
    2,
    3,
    4,
    5,
    6
"""

df_m_urbanrural = pd.read_gbq(query)

In [214]:
df_m_urbanrural.to_csv('Mali_urbanrural_1.csv',index=False)

In [ ]:
## Mali

In [207]:





df_m = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,gender,age,subscriber_pereferred_language,count(distinct subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where  gender is not null and age is not null and organization_country='Mali' group by 1,2,3,4,5")

In [208]:
df_m.head()

   Year  Month gender       age subscriber_pereferred_language  Subscribers
0  2021     11   male     25_34                        Bambara        48524
1  2021      3   male  under_18                        Songhay          920
2  2022      8   male  under_18                        Bambara        35161
3  2022      5   male     25_34                        Bambara        52173
4  2021      2   male     18_24                        Songhay         2047

In [ ]:
## Nigeria

In [201]:

df_n = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,gender,age,rural_or_urban,subscriber_pereferred_language,count(distinct subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where  gender is not null and age is not null and organization_country='Nigeria' group by 1,2,3,4,5,6")

%load_ext google.cloud.bigquery

%%time
# Construct a BigQuery client object.
client = bigquery.Client()

query = """
SELECT EXTRACT (YEAR FROM call_date),
    EXTRACT (MONTH FROM call_date),
    gender,
    age,
    count(subscriber_id) 
FROM `viamo-datakind.datadive.321_sessions_1122` 
where  gender is not null and 
    age is not null and
       organization_country='Uganda'
group by 1,
    2,
    3,
    4
"""
query_df = client.query(query).to_dataframe()  # Make an API request.

#print("The query data:",query_job)
#for row in query_job:
#    print(row)
    # Row values can be accessed by field name or index.
 #   print("name={}, count={}".format(row[0]))

query_df.shape

df_u.to_csv('Uganda_demog.csv',index=False)

df_n.to_csv('Nigeria_demog_1.csv',index=False)

df_m.to_csv('Mali_demog_1.csv',index=False)

#### Education Level data ,Optin ,Phone_type

In [108]:
df.columns

Index(['call_date', 'dl_global_created_at', 'block_interaction_id', 'call_id',
       'subscriber_id', 'block_global_created_at', 'block_entry_at', 'js_key',
       'tree_version_set_id', 'call_started', 'call_ended',
       'duration_listened_minutes', 'duration_listened_seconds', 'region',
       'region_name', 'organization_id', 'organization_country',
       'block_audio_percent_listened', 'km_block_reached', 'km_block_listened',
       'listener', 'listen_menu_or_digest', 'block_title', 'block_tags',
       'block_theme', 'block_topic', 'age', 'gender', 'location',
       'location_level_2', 'opt_in', 'subscriber_pereferred_language',
       'registered_demographic_info', 'rural_or_urban', 'phone_type',
       'education_level', 'income_source', 'airtime_expense',
       'highest_expense_area', 'data_usage_consent', 'new_listener_ever',
       'new_listener_year', 'new_caller_ever', 'new_caller_year'],
      dtype='object')

In [110]:
df['education_level'].unique()

array(['null', None, 'primary school_v2', 'secondary_school',
       'completed junior secondary school_v2',
       'vocational training or a diploma_v2', 'middle_school',
       'completed senior secondary school_v2', 'junior_secondary_school',
       'senior_secondary_school', 'No formal education_v2',
       'primary_school', 'university_degree'], dtype=object)

In [ ]:
# Uganda

In [219]:
df1_u = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,education_level,opt_in,phone_type,count(distinct subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where organization_country='Uganda' group by 1,2,3,4,5")

In [253]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
    EXTRACT (MONTH FROM call_date) as Month,
    education_level,
    case  
    when education_level = 'primary school_v2' then 'primaryschool'
    when education_level = 'primary_school' then 'primaryschool'
    when education_level like '%secondary_school' then 'secondaryschool'
    when education_level like '%completed senior secondary school_v2' then 'secondaryschool'
    when education_level like '%senior_secondary_school' then 'secondaryschool'
    when education_level like '%completed junior secondary school_v2' then 'juniorsecondary'
    when education_level like '%junior_secondary_school' then 'suniorsecondary'
    when education_level like '%vocational training or a diploma_v2' then 'diploma'
    when education_level like '%university_degree' then 'university_degree'
    when education_level like 'No formal education_v2' then 'noformaleducation'
    
    else 'Other' 
    END as education
    ,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where 
    organization_country='Uganda' 
group by 1,
    2,
    3,
    4
    
    
"""

df1_u = pd.read_gbq(query)

In [254]:
df1_u

    Year  Month education_level  Subscribers
0   2021      9            None       128159
1   2021      3            None       169180
2   2021      2            None       145535
3   2021      5            None       169333
4   2022     11            None       485128
5   <NA>   <NA>            None           16
6   2022      3            None       335499
7   2022      6            None       418625
8   2022      8            None       505790
9   2021      8            None        94269
10  2021     12            None       296890
11  2022      1            None       156693
12  2021      7            None       115617
13  2022      5            None       446592
14  2022     10            None       587483
15  2021      1            None       168305
16  2022      9            None       527772
17  2021     10            None       188920
18  2022      7            None       531295
19  2020     12            None          163
20  2021      6            None       155563
21  2022      4            None       329046
22  2021     11            None       257287
23  2022      2            None       222198
24  2021      4            None       150449

In [134]:
df1_u.to_csv('Uganda_education_1.csv',index=False)

In [ ]:
# Nigeria

In [135]:
df1_n = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,education_level,opt_in,phone_type,count(subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where organization_country='Nigeria' group by 1,2,3,4,5")

In [274]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
    EXTRACT (MONTH FROM call_date) as Month,
    education_level,
    opt_in,
    case  
    when education_level = '%primary school_v2%' then 'primaryschool'
    when education_level = '%primary_school%' then 'primaryschool'
    when education_level like '%secondary_school%' then 'secondaryschool'
    when education_level like '%completed senior secondary school_v2%' then 'secondaryschool'
    when education_level like '%senior_secondary_school%' then 'secondaryschool'
    when education_level like '%completed junior secondary school_v2%' then 'juniorsecondary'
    when education_level like '%junior_secondary_school%' then 'suniorsecondary'
    when education_level like '%vocational training or a diploma_v2%' then 'diploma'
    when education_level like '%university_degree%' then 'university_degree'
    when education_level like 'No formal education_v2%' then 'noformaleducation'
    
    else 'Other' 
    END as education
    ,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where 
    organization_country='Nigeria' 
    and char_length(opt_in) > 0
    and char_length(education_level) > 0
group by 1,
    2,
    3,
    4,
    5
    
    
"""

df1_n = pd.read_gbq(query)

In [276]:
df1_n['education'].unique()

array(['secondaryschool', 'Other', 'noformaleducation',
       'university_degree', 'diploma'], dtype=object)

In [277]:
df1_n.to_csv('Nigeria_education_2.csv',index=False)

In [128]:
# Mali

In [137]:
df1_m = pd.read_gbq("SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,education_level,opt_in,phone_type,count(subscriber_id) Subscribers FROM `viamo-datakind.datadive.321_sessions_1122` where organization_country='Mali' group by 1,2,3,4,5")

In [138]:
df1_m.to_csv('Mali_education.csv',index=False)

In [259]:
query = """
SELECT distinct education_level,
    FROM `viamo-datakind.datadive.321_sessions_1122` where
    organization_country='Nigeria' 
"""

df_test = pd.read_gbq(query)

In [197]:
query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,EXTRACT (MONTH FROM call_date) as Month,
subscriber_pereferred_language,count(distinct subscriber_id) Subscribers,
    FROM `viamo-datakind.datadive.321_sessions_1122` where
    organization_country='Uganda'
    and char_length(subscriber_pereferred_language) > 0
    group by 1,2,3
"""

df_language_uganda = pd.read_gbq(query)

In [198]:
df_language_uganda['subscriber_pereferred_language'].nunique()

13

In [200]:
df_language_uganda.to_csv('Ugandalanguages_1.csv',index=False)

#### BQ - Auto ML


query = """
CREATE OR REPLACE MODEL 
`viamo-datakind.datadive.321_sessions_1122_kmeans` 
OPTIONS(MODEL_TYPE = 'KMEANS',
    NUM_CLUSTERS = 5,
    KMEANS_INIT_METHOD = 'RANDOM',
    DISTANCE_TYPE = 'EUCLIDEAN',
    STANDARDIZE_FEATURES = TRUE
) AS (
    SELECT duration_listened_seconds,
    region_name, 
    age,
    gender,
    rural_or_urban
FROM `viamo-datakind.datadive.321_sessions_1122` 
where  duration_listened_seconds is not null and 
    region_name is not null and 
    gender is not null and 
    age is not null and
    organization_country='Uganda' and 
    EXTRACT (YEAR FROM call_date) = 2022
)
"""
df_sample = pd.read_gbq(query)

QA the queries used

query = """
SELECT EXTRACT (YEAR FROM call_date) as Year,
EXTRACT (MONTH FROM call_date) as MONTH,
    count(distinct subscriber_id) Subscribers
    FROM `viamo-datakind.datadive.321_sessions_1122` 
where
    organization_country='Nigeria' 
group by 1,2
    
"""

df_countcheck = pd.read_gbq(query)

df_countcheck