In [92]:
# connect to the database using the credentials
import os
import pandas as pd
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'credentials.json'

In [93]:
query = """
SELECT
*
FROM `viamo-datakind.datadive.321_sessions_1122`


LIMIT 10000
"""
test_df = pd.read_gbq(query)

In [94]:
#filter where block_tags contains 'menu' or 'digest' and listen_menu_or_digest is 'Listen Menu' or 'Listen Digest'
test_df = test_df[(test_df['block_tags'].str.contains('menu')) | (test_df['block_tags'].str.contains('digest'))]

test_df[['block_tags', 'listen_menu_or_digest']]

                                             block_tags listen_menu_or_digest
2                                       news,topic_menu                  None
6     coronavirus,health,malaria,ncd,partner_hch,par...                  None
12                                     games,theme_menu           Listen Menu
13    ak_digest,albishirinku,ba,complementary_feedin...                  None
20    2_0,ba,coronavirus,covid_digest,health,km,part...         Listen Digest
...                                                 ...                   ...
9995                                      ag,theme_menu           Listen Menu
9996                                ag,beans,topic_menu           Listen Menu
9997                                      ag,theme_menu                  None
9998                                      ag,theme_menu           Listen Menu
9999                               ag,banana,topic_menu           Listen Menu

[2346 rows x 2 columns]

In [95]:
test_df.columns

Index(['call_date', 'dl_global_created_at', 'block_interaction_id', 'call_id',
       'subscriber_id', 'block_global_created_at', 'block_entry_at', 'js_key',
       'tree_version_set_id', 'call_started', 'call_ended',
       'duration_listened_minutes', 'duration_listened_seconds', 'region',
       'region_name', 'organization_id', 'organization_country',
       'block_audio_percent_listened', 'km_block_reached', 'km_block_listened',
       'listener', 'listen_menu_or_digest', 'block_title', 'block_tags',
       'block_theme', 'block_topic', 'age', 'gender', 'location',
       'location_level_2', 'opt_in', 'subscriber_pereferred_language',
       'registered_demographic_info', 'rural_or_urban', 'phone_type',
       'education_level', 'income_source', 'airtime_expense',
       'highest_expense_area', 'data_usage_consent', 'new_listener_ever',
       'new_listener_year', 'new_caller_ever', 'new_caller_year'],
      dtype='object')

are there multiple entries for a call ID


IF NOT

multiple columns per call_id

is there a progression in the block codes

if any longer than one, it got out of a menu

check against menu_digest column

In [96]:
test_df.head()

,call_date,dl_global_created_at,block_interaction_id,call_id,subscriber_id,block_global_created_at,block_entry_at,js_key,tree_version_set_id,call_started,...,phone_type,education_level,income_source,airtime_expense,highest_expense_area,data_usage_consent,new_listener_ever,new_listener_year,new_caller_ever,new_caller_year
2,2022-03-04,2022-03-04 14:14:46+00:00,1346484676604782356,1346484635873894568,798531682041856098,2022-03-04 14:09:25+00:00,2022-03-04 14:09:23+00:00,block_1557800652761_26,20450,2022-03-04 14:09:13+00:00,...,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>
6,2021-02-22,2021-02-22 19:48:37+00:00,1210674565379321488,1210674543967398448,798531682041856097,2021-02-22 19:48:37+00:00,2021-02-22 19:48:29+00:00,block_1599491835246_56,23672,2021-02-22 19:48:24+00:00,...,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>
12,2022-05-08,2022-05-08 16:05:43+00:00,1370068390362185836,1370067895522394304,1357020603919863204,2022-05-08 16:02:50+00:00,2022-05-08 16:02:38+00:00,block_1641245073679_23,40767,2022-05-08 16:00:41+00:00,...,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>
13,2021-10-15,2021-10-15 16:00:52+00:00,1295776962434271848,1295776411810236016,1205107383144516852,2021-10-15 15:58:21+00:00,2021-10-15 15:55:02+00:00,block_1624289235520_37,38209,2021-10-15 15:52:50+00:00,...,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>
20,2022-05-23,2022-05-23 22:23:27+00:00,1375592346456392240,1375584936731837412,887000548082417664,2022-05-23 21:54:36+00:00,2022-05-23 21:52:52+00:00,block_1606292579853_37,43233,2022-05-23 21:23:26+00:00,...,None,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>

In [111]:
id_ls = (test_df['call_id'].unique()).tolist()
len(id_ls)

2344

In [112]:
id_longer = []
for id in id_ls:
    temp_df = test_df[test_df['call_id'] == id]
    if len(temp_df) > 1:
        id_longer.append(id)

In [99]:
temp.columns

Index(['call_date', 'dl_global_created_at', 'block_interaction_id', 'call_id',
       'subscriber_id', 'block_global_created_at', 'block_entry_at', 'js_key',
       'tree_version_set_id', 'call_started', 'call_ended',
       'duration_listened_minutes', 'duration_listened_seconds', 'region',
       'region_name', 'organization_id', 'organization_country',
       'block_audio_percent_listened', 'km_block_reached', 'km_block_listened',
       'listener', 'listen_menu_or_digest', 'block_title', 'block_tags',
       'block_theme', 'block_topic', 'age', 'gender', 'location',
       'location_level_2', 'opt_in', 'subscriber_pereferred_language',
       'registered_demographic_info', 'rural_or_urban', 'phone_type',
       'education_level', 'income_source', 'airtime_expense',
       'highest_expense_area', 'data_usage_consent', 'new_listener_ever',
       'new_listener_year', 'new_caller_ever', 'new_caller_year'],
      dtype='object')

In [116]:
len(id_longer)

#filter test_df for id_longer[0]
temp = test_df[test_df['call_id'] == id_longer[1]]

#filter temp for 'block_tags' and listen_menu_or_digest
temp[['call_id','call_started','duration_listened_seconds','block_interaction_id','block_tags', 'listen_menu_or_digest']]

,call_id,call_started,duration_listened_seconds,block_interaction_id,block_tags,listen_menu_or_digest
4089,1435957954435612756,2022-11-06 11:44:15+00:00,19.0,1435958332493398544,"airtelmoney,partner_airtelug,theme_menu,vas",None
4109,1435957954435612756,2022-11-06 11:44:15+00:00,19.0,1435959087019328688,"airtelmoney,partner_airtelug,sub_menu,vas",None

In [118]:
test_df['listen_menu_or_digest'].value_counts()

Listen Menu      1203
Listen Digest     175
Name: listen_menu_or_digest, dtype: int64

In [ ]:
#count of unique call_id where listen_menu_or_digest is NOT 'Listen Menu' or 'Listen Digest'
test_df[(test_df['listen_menu_or_digest'] != 'Listen Menu') & (test_df['listen_menu_or_digest'] != 'Listen Digest')]['call_id'].nunique()

2412

In [ ]:
#query for unique call_id where listen_menu_or_digest is NOT 'Listen Menu' or 'Listen Digest'
query = """
SELECT
count(DISTINCT(call_id))
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE (listen_menu_or_digest != 'Listen Digest') OR (listen_menu_or_digest != 'Listen Menu')


"""
multiple_id = pd.read_gbq(query)
multiple_id

         f0_
0  155939720

In [ ]:
query = """
SELECT
count(DISTINCT(call_id))
FROM `viamo-datakind.datadive.321_sessions_1122`
"""
total_id = pd.read_gbq(query)
total_id

         f0_
0  156875724

In [ ]:
multiple_id/total_id

        f0_
0  0.994033

In [109]:
#query for unique call_id where listen_menu_or_digest is not in ('Listen Menu', 'Listen Digest')
query = """
SELECT
count(DISTINCT(call_id))
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE listen_menu_or_digest NOT IN ('Listen Digest') OR listen_menu_or_digest NOT IN ('Listen Menu')
"""

multiple_id = pd.read_gbq(query)
multiple_id

         f0_
0  155939720

In [128]:
query = """
SELECT listen_menu_or_digest, COUNT(DISTINCT(call_id)) as ids
FROM `viamo-datakind.datadive.321_sessions_1122`
GROUP BY listen_menu_or_digest
"""
multiple_id = pd.read_gbq(query)
display(multiple_id)

  listen_menu_or_digest        ids
0           Listen Menu  155919118
1                  None  127093800
2         Listen Digest   68124991

In [142]:
menu, second_level, digest = multiple_id['ids'].tolist()

second_level/(menu+digest)

0.5672713313787688

In [133]:
#print values of listen_menu_or_digest
multiple_id['listen_menu_or_digest'].unique()

array(['Listen Menu', None, 'Listen Digest'], dtype=object)

In [145]:
#query for where listen_menu_or_digest is Null
query = """
SELECT
count(DISTINCT(call_id)) as traversers
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE listen_menu_or_digest IS NULL

"""
multiple_id = pd.read_gbq(query)

In [147]:
#for unique id when listen_menu_or_digest is Null how many are also in 'Listen Menu' or 'Listen Digest'
query = """
SELECT
count(DISTINCT(call_id)) as traversers
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE listen_menu_or_digest IS NULL
AND (listen_menu_or_digest = 'Listen Digest') OR (listen_menu_or_digest = 'Listen Menu')

"""
multiple_id = pd.read_gbq(query)

select unique call_id where listen_menu_or_digest is null from list of call_id where listen_menu_or_digest is not null

In [154]:
#subquery for unique call_id where listen_menu_or_digest is NOT 'Listen Menu' or 'Listen Digest' then from that subquery, count unique call_id where listen_menu_or_digest is Null
query = """
SELECT
count(DISTINCT(call_id)) as traversers
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE listen_menu_or_digest IS NULL
AND call_id IN (SELECT DISTINCT(call_id)
FROM `viamo-datakind.datadive.321_sessions_1122`
WHERE (listen_menu_or_digest = 'Listen Digest') OR (listen_menu_or_digest = 'Listen Menu'))

"""
multiple_id = pd.read_gbq(query)
display(multiple_id)

   traversers
0   126157796

In [155]:
#get count of all unique call_id
query = """
SELECT
count(DISTINCT(call_id)) unique_call_id
FROM `viamo-datakind.datadive.321_sessions_1122`

"""
multiple_id = pd.read_gbq(query)
display(multiple_id)

   traversers
0   156875724

In [156]:
126157796 /156875724

0.8041894104660833